{%extends _layout.html%}
{%block body%}
<form action="/register" method="post">
    <h1></h1>
</form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control" name="thing1" id="FormControlInput1">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="text" class="form-control" name="thing2" id="FormControlInput2">
        <label for="customRange2" class="form-label"></label>
        <input type="text" class="form-control" name="thing3" id="FormControlInput3">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
{%endblock%}